<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <configProtectedData>
      <providers>
         <add name="MyProvider"
              type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
              keyContainerName="MyKeys"
              useMachineContainer="true" />
      </providers>
   </configProtectedData>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="regiis" value="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_regiis.exe" />

    <add key="FAKTUR_TITLE" value="AYANA MOTOR SPORTS"/>
    <add key="FAKTUR_SUBTITLE" value="Jl. Raya Timur no. 532 Cimahi |Tlp. 08122121188 / (022) 92660555"/>
    <add key="FAKTUR_FOOTER" value="Terima Kasih Atas Kunjungan Anda"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/"/>
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="DefaultRoleProvider">
      <providers>
        <add connectionStringName="DefaultConnection" applicationName="/"
          name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
  </entityFramework>
  <connectionStrings configProtectionProvider="MyProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>VMnVbHOFfx0EW5SSlHIOj5GvyxtjADxLZyBqTQiH2YiX1daZV5df29B5pAd8VgZSF8EGfdnEEpPrjC9rzPb/MxBcLN53GGSTZ7ZD/FOhY0NXRhWO9pbWXOVEH1iujkSKrpu50NeNgeNrrfaf8x1jUp6u2pzVYu9J35kBBg6MbWg=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>lwFj3ZyU6zL9x4eGH2Bpl8U8CXPwwZ7Yv7UQZceFuoiRhaAjL1fwoz0hpowMjwOTjyn8j9Am8VRWoNUiLxpjJ+q2Zr6Ut8w2OFrkf3/XYQ9D83EoFLH7NjzrUcUHd3v05khlmaAR8Fnv883Y4CDclc6TwUGuT+lRIE4YUs9UDdQi6oO6/4zRt9fRvCQyBdjDEge1mw1PjIJbq9PzzRQ94TVKw3Z34FsKB0euN/xk2h+XfONxK0a3bHqI9BPAQoWfbn7LI/4bk9yNqYhhZAVnOOEQdaqkof1sHiTRJJJ/1CS644QPISWFn6EVquyQDtpcgLP6ciOmb9VRAqXILdO2QywGdtCWCf1KqPfFkPLrTqDfQLdNNQYQl5eQ6gEKimLZJyWvWu30fUd5Puqrbzcrbr3FTVSDX3XZNMICyWjK3O2e3rL22MHKYXT3xQHs2np3Dh4wuwI1tRX/qk57VY+FX7NU8Q4xP+vYJBisqpotcsup0kiU6q0OnR15Cuj1mgZgg2/jkLacuHjcdZvS4KiMsFxpkl5V0/Xde5FS9P2Wvd0PtD3bWsmFxw==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
</configuration>