@{
    ViewBag.Title = "Role Listing";
}
<p>&nbsp;</p>
<div class="spacerBody">
    @Html.ActionLink("Create New Role", "RoleCreate") | @Html.ActionLink("Add Role to User", "RoleAddToUser")
<h2>Role Index</h2>

    <table>
        @foreach (string s in Model)
        {
            <tr>
                <td>
                    @s
                </td>
                <td>
                    @if (s != "ADMIN")
                    {
                        <span onclick="return confirm('Are you sure to delete?')">
                            <a href="/Account/RoleDelete?RN=@s" class="delLink">Delete</a>
                        </span>
                    }
                </td>
            </tr>
        }
    </table>

</div>